/*栅格样式*/
.gutter-example {
  background: skyblue;
  border: 1px solid gray;
}
.gutter-example .ant-row > div {
  background: transparent;
  /*border: 1px solid gray;*/
}
.gutter-example .gutter-row .ant-table-title {
  text-align: center;
  background: red;
}
/*输入框样式*/
.example-input{
  display: inline-block;
}
.example-input .ant-input {
  width: 90px;
  margin: 0 8px 8px 0;
}
.ant-col-6{
  width: auto;
}
.select{
  width: 90px;
}
.cascadeSelect{
  display: inline-block;
}
.cascadeSelect .cascade-select{
  width: 60px;
  display: inline-block;
}