/* tHead的表头单元格样式*/
.react-resizable {
  position: relative;
}
/* tHead的表头单元格中的列分割线样式*/
.react-resizable-handle {
  position: absolute;
  width: 10px;
  height: 100%;
  bottom: 0;
  right: -5px;
  cursor: col-resize;
}